<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="inputData" value="C:\Users\talashraf\OneDrive - SnelStart Software B.V\Bureaublad\C#\Boekhouden\Boekhouden\json\inputData.json" />
		<add key="outputData" value="C:\Users\talashraf\OneDrive - SnelStart Software B.V\Bureaublad\C#\Boekhouden\Boekhouden\json\output.json" />

	</appSettings>
</configuration>